@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffeee3;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.nav-link {
    font-size: 1.3rem;
    padding: 0 1.5rem;
    color: #273c4b;
}

.beranda .carousel-item {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.next::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.3;
}

.beranda .carousel-item .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.first h3 {
    font-size: 4rem;
    color: #ffeee3;
}

.first span {
    font-size: 2.3rem;
    color: #f36b60;
    padding: 1rem 0;
    line-height: 1.5;
}

.first p {
    font-size: 0.9rem;
    color: #ffeee3;
    margin-bottom: -4px;
    line-height: 1.5;
}

.next {
    padding-left: 100px;
}

.next h5 {
    font-size: 100px;
    font-weight: 700;
}

.next p {
    font-size: 30px;
    top: 2rem;
}

.next h5,
p {
    color: white;
}

.carousel-caption {
    bottom: 180px;
    padding-right: 100px;
    text-align: left;
}

.btn {
    background-color: #ff914d;
    color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-right: 15px;
}

.slider-btn .btn-2 {
    color: #ff914d;
    background-color: white;
}

.btn-3 {
    background-color: #385973;
}

.btn-3:hover {
    background: #f36b60;
}

.heading {
    text-align: center;
    font-size: 3rem;
    color: #385973;
    padding: 1rem;
    margin: 2rem 0;
    background: #ffeee3;
}

.heading span {
    color: #f36b60;
}

.box {
    margin: 10px 0px;
}

.box-1.box-3 {
    padding-left: 50px;
}
.row .box {
    position: relative;
    overflow: hidden;
}

.row .box img {
    object-fit: cover;
    width: 550px;
}

.row .box:hover img {
    transform: scale(1.1);
    transition: 0.7s;
}

.row .content {
    position: absolute;
    bottom: 3.5rem;
    left: 1rem;
}

.row .content span {
    font-size: 1rem;
    color: #ffeee3;
}

.row .content h3 {
    font-size: 2rem;
    color: #273c4b;
    text-transform: uppercase;
    padding-top: 0.5rem;
}

.content {
    max-width: 50rem;
}

ul {
    list-style: none;
}

.footer {
    background-color: #f36b60;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f7ce66;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.ftr-logo {
    padding-left: 100px;
}

.credit {
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    color: #385973;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.credit span {
    color: #f36b60;
}

.about {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(img/bnr.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.about .content {
    max-width: 50rem;
}

.about .content h3 {
    font-size: 2.5rem;
    color: #ffeee3;
    padding: 1rem 2rem;
    line-height: 1.5;
}

.about .content p {
    font-size: 1.5rem;
    color: #385973;
    padding: 1rem 2rem;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
    .beranda .carousel-item h5 {
        font-size: 60px;
    }
    .beranda .carousel-item h3 {
        font-size: 50px;
        font-weight: 700;
    }
    .beranda .carousel-item .txt {
        font-size: 20px;
    }
    .beranda .carousel-item p {
        font-size: 17px;
    }
    .beranda .carousel-item span {
        font-size: 22px;
        font-weight: 500;
    }
    .carousel-caption {
        padding-right: 0px;
        text-align: center;
    }
}
