.gradient-custom {
  /* fallback for old browsers */
  background: #f7ce66;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #f6b469, #ffeee3);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #f6b469, #ffeee3);
}

.container h2,
a,
p {
  font-family: "Poppins", sans-serif;
}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #ffeee3;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #f6b469, #ffeee3);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #f6b469, rgba(143, 211, 244, 0.5));
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #ffeee3;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #f6b469, #ffeee3);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #f6b469, #ffeee3);
}
